<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lab 4: Iterations method</title>
  <!-- MaxCDN Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Lab 4: Iteration method</a>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <p class="text-danger" th:text="${errorMessage}"></p>
      <h2>Input</h2>
      <form th:action="lab4" th:method="post" th:object="${equationData}" >
        <div class="form-group">
          <label for="epsilon">Epsilon</label>
          <input type="number" class="form-control" id="epsilon"
                 th:field="*{stringEpsilon}" step="0.00000001" placeholder="Enter Epsilon" min="0" required >
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="range-from">From</label>
              <input type="number" class="form-control" id="range-from" step="0.01" placeholder="Enter  from" max="5"
              min="-5" th:field="*{start}" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="range-to">To</label>
              <input type="number" class="form-control" id="range-to" step="0.01" placeholder="Enter to" max="5" min="-5"
                     th:field="*{stop}" required>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <h1></h1>
      <div class="container">
        <h2>Output</h2>
        <div id="output-window">
          <table class="table">
            <thead>
            <tr>
              <th>Result</th>
              <th>A</th>
              <th>B</th>
              <th>k</th>
              <th>epsilon</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td th:text="${equation.getResult()}"></td>
              <td th:text="${equation.getFirsta()}"></td>
              <td th:text="${equation.getSecondb()}"></td>
              <td th:text="${equation.getK()}"></td>
              <td th:text="${equation.getEpsilon()}"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2>Function:</h2>
      <dl></dl>
      <div class="container">
        <img src="https://raw.githubusercontent.com/Dementris/AMOLabs/master/src/main/resources/static/lab4.webp" alt="Example Image" width="344" height="45" >
      </div>
      <div id="plot"></div>
      <script th:inline="javascript">
        var x1 = [[${x}]];
        var y1 = [[${y}]];
        var trace1 = { x: x1, y: y1, type: 'scatter',name: 'function', mode: 'lines+points', marker: {color: 'red'},
          hovertemplate: 'x: %{x:.2f}<br>y: %{y:.4f}<extra></extra>', line: {shape: 'spline', smothing: 1}};
        var x2 = [[${x}]];
        var y2 = [[${zeros}]];
        var trace2 = { x: x2, y: y2, type: 'scatter',name: 'interpolated', mode: 'lines+points', marker: {color: 'blue'},
          hovertemplate: 'x: %{x:.2f}<br>y: %{y:.4f}<extra></extra>', line: {shape: 'spline', smothing: 1}};
        var data = [trace1, trace2];
        var layout = { title: 'Function', xaxis: { title: 'x', tickformat: '.2f' }, yaxis: { title: 'y', tickformat: '.2f' } };
        Plotly.newPlot('plot', data, layout);
      </script>
      <h5>Ranges where only one result is possible:</h5>
      <div class="text" th:text="${intervals}"></div>
      <div class="container">
      </div>
    </div>
  </div>
</div>
<h1></h1>


<!-- MaxCDN Bootstrap JS and other JS libraries you may need -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Add your custom JS code here -->

</body>
</html>
