<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lab 5</title>
  <!-- MaxCDN Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Lab 5</a>
</nav>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h2>System of Linear Equations</h2>
      <form action="/solve-equations" method="post" th:object="${equationFormData}">
        <div class="form-group">
          <label>Tolerance</label>
          <input type="number" class="form-control"
                 th:field="*{tolerance}" step="0.0000000000000001" placeholder="Enter Tolerance" min="0" required >
          <label>Omega</label>
          <input type="number" class="form-control"
                 th:field="*{omega}" step="0.0001" placeholder="Enter Tolerance" min="0" max="2" required >
          <label>Coefficients</label>
          <table class="table table-bordered">
            <tbody>
            <tr th:each="row : ${#numbers.sequence(0, 2)}">
              <td th:each="col : ${#numbers.sequence(0, 2)}">
                <input type="number" class="form-control" th:field="*{coefficients[__${row}__][__${col}__]}" step="0.001" required>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <label>Constants</label>
          <table class="table table-bordered">
            <tbody>
            <tr th:each="row : ${#numbers.sequence(0, 2)}">
              <td>
                <input type="number" class="form-control" th:field="*{constants[__${row}__]}" step="0.001" required>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div class="mt-3">
        <button onclick="saveDataToFile()" class="btn btn-secondary">Save Data</button>
        <input type="file" id="fileInput" onchange="openDataFromFile(event)" class="btn btn-secondary" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="container mt-5">
        <h2>Output:</h2>
        <div>
          <p>The solutions of the system of linear equations are:</p>
          <table class="table">
            <tr th:each="i : ${#numbers.sequence(0,2)}">
              <td th:text="${'X' + (i+1) + ': '+ solution[__${i}__]}"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MaxCDN Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
  function saveDataToFile() {
    var coefficients = [];
    var constants = [];

    var coefficientInputs = document.querySelectorAll('input[name^="coefficients"]');
    var constantInputs = document.querySelectorAll('input[name^="constants"]');

    coefficientInputs.forEach(function (input) {
      coefficients.push(input.value);
    });

    constantInputs.forEach(function (input) {
      constants.push(input.value);
    });

    var data = {
      coefficients: coefficients,
      constants: constants
    };

    var textToSave = JSON.stringify(data);
    var filename = "data.json";

    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(textToSave));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);

    element.click();

    document.body.removeChild(element);
  }

  function openDataFromFile(event) {
    var input = event.target;
    var reader = new FileReader();

    reader.onload = function () {
      var text = reader.result;
      var data = JSON.parse(text);

      var coefficientInputs = document.querySelectorAll('input[name^="coefficients"]');
      var constantInputs = document.querySelectorAll('input[name^="constants"]');

      data.coefficients.forEach(function (value, index) {
        coefficientInputs[index].value = value;
      });

      data.constants.forEach(function (value, index) {
        constantInputs[index].value = value;
      });
    };

    reader.readAsText(input.files[0]);
  }
</script>
</body>
</html>
