<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Springbooot Test</title>
</head>
<body>
<h1>Sping test fot thleaf</h1>

<form th:action="test" th:method="post" th:object="${userForm}">
  <label for="firstName">First Name</label>
  <input type="text" th:field = "*{firstName}">

  <label for="lastName">Last Name</label>
  <input type="text" th:field = "*{lastName}">

  <label for="age">Age</label>
  <input type="text" th:field = "*{age}">

  <button type="submit">Submit</button>

</form>
</body>
</html>